<% if @project %>
	<form class="createprojects" action="/projects/<%= @project.id %>" method="POST">
		<div class="input-fields">
			Update A Project.<br>
			<label>Name:</label>
			<input type="hidden" name="_method" value="PUT">
			<input class="input-field" type="hidden" name="project[id]" value="<%= @project.id %>"/>
			<input class="input-field" type="text" name="project[name]" value="<%= @project.name %>"/>
			<label>Description:</label>
			<input class="input-field" type="text" name="project[description]" value="<%= @project.description %>"/>
			<label>Website:</label>
			<input class="input-field" type="text" name="project[production_url]" value="<%= @project.production_url%>" />
			<label>Github:</label>
			<input class="input-field" type="text" name="project[source_url]" value="<%= @project.source_url %>"/>
			<label>Location:</label>
			<input class="input-field" type="text" name="project[location]" value="<%= @project.location %>"/>
			<label>Image Url:</label>
			<input class="input-field" type="text" name="project[image_url]" value="<%= @project.image_url %>"/>
			<input type="submit"/>
			</div>
	</form>
<% else %>
	<h1> You have not created this project </h1>
<% end %>