<% @projects.each do |project| %>
		<% if project.id % 2 == 0 %>
			<% @side="even" %>
		<% else %>
			<% @side="odd" %>
		<% end %>

	<div class="project_show <%= @side %>" id="project_<%= project.id %>">
		<div class="project" id="<%= project.id %>">
			<h3>Project: <%= project.name %></h3>
			<p>DescriptioN:<%= project.description %></p>
			<p>Project Link <a href="<%= project.production_url %>"></a></p>
			<p><a href="<%= project.source_url %>">Github URL</a></p>
			<p><%= project.location %></p>
			<p>Image links here</p>
		</div>
	</div>
<% end %>