
<div class="project-header">
	<h2>Discover amazing projects made by DBC grads</h2>
	<div class="searching-div">
		<form class="dbc-form" action="projects" method="get">
			<input type="search" name="pgsearch" placeholder="Search Projects">
			<button class="dbc-button sort-button inline" id="submit-search" class="pure-button">Search</button>
		</form>
	</div>

	<h3 style="text-align: center; position:relative"> Meet <a class="nav-link" style="color: black;"  href="/projects/22">Tattle</a> Made @ DBC</h3>
	<div class="home-image">
		<iframe width="853" height="480" src="//www.youtube.com/embed/TSsuIiJH_hk" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="sorting-div">
		<form class="dbc-form" action="projects" method="get">
			<button class="dbc-button sort-button inline" type="submit" name="sort[location]" value="San Francisco">San Francisco</button>
			<button class="dbc-button sort-button inline" type="submit" name="sort[location]" value="Chicago">Chicago</button>
			<button class="dbc-button sort-button inline" type="submit" name="sort[location]" value="New York">New York</button>
		</form>
	</div>

</div>

<div class="project-container">
	<% @projects.each do |project| %>
	<div class="col md-col-4 mb2 mt2 px2" id="project_<%= project.id %>">
		<div class="p2 bg-white border rounded project-box" style="height: 375px;">
			<a href="/projects/<%= project.id %>" class="project-image"><img class="mb2 project-image" src="<%= project.image_url %>" alt="<%= project.name %>"/></a>
			<a class="link" href="/projects/<%= project.id %>"><h1 class="h4 mt0 center"><%= project.name %></h1></a>
			<form action="/vote/<%= project.id %>" class="center" method="POST">
				<button class="col-10 button-blue  mt1 mb1 center">
					Vote <% if project.vote > 0  %> (<%= project.vote %>) <% end %>
				</button>
			</form>
		</div>
	</div>
	<% end %>
</div>