<div class="location-image">
		<% if @project.location == "Chicago\n" %>
			<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-chi-header.jpg"/>
		<% elsif @project.location == "San Francisco\n" %>
			<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-sf-header.jpg"/>
		<% elsif   @project.location == "New York\n" %>
			<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-nyc-header.jpg"/>
		<% end %>
</div>

<div class="individualproject">
	<div class="project" id="<%= @project.id %>">
		<h3>Project: <%= @project.name %></h3>
		<p><%= @project.description %></p>
		<p><a href="<%= @project.production_url %>">Project Link </a>, <a href="<%= @project.source_url %>">Github URL</a></p>
		<p><%= @project.location %></p>
	</div>
</div>
<div class="project-image">

		<p><img class="show-image" src="<%= @project.image_url %>" alt="The owner of this project neglected to upload an image"></p>


</div>
