<div class="top-container">
	<% if @project.location == "Chicago" %>
	<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-chi-header.jpg"/>
	<p class="location-title"> Chicago </p>
	<% elsif @project.location == "San Francisco" %>
	<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-sf-header.jpg"/>
	<p class="location-title"> San Francisco </p>
	<% elsif @project.location == "New York" %>
	<img class="project-location-image" src="http://devbootcamp.com/imgs/locations/location-nyc-header.jpg"/>
	<p class="location-title"> New York </p>
	<% end %>
</div>


<div class="middle-container">
	<div class="container">
		<div class="clearfix">
			<div class="col col-12 project-title-show">
				<h1><%= @project.name %></h1>
			</div>
			<div class="col col-12 project-description" id="<%= @project.id %>">
				<p class="col-12 center"><%= @project.description %></p>
				<form action="<%= @project.production_url %>">
				  	<button class="col-5 button-blue mb1" href="<%= @project.production_url %>">Live Project</button>
				</form>
				<form action="<%= @project.source_url %>">
					<button class="col-5 button-blue mb1" href="<%= @project.source_url %>">Github </button>
				</form>
			</div>
			<div class="col col-12 project-image-holder">
				<% if @project.image_url  %>
				<a href="<%= @project.production_url %>"><img src="<%= @project.image_url %>" class="project-image-show" alt="The owner of this project neglected to upload an image"/></a>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @project.answer1 %>
<div class="bottom-container">
	<div class="container">
		<div class="clearfix red">
			<div class="col col-12 project-questions">
				<div><p>Question: What technologies did your team use?</p></div>
				<p><%=  @project.answer1 %></p>
				<div><p>Question: What was your biggest technical challenge?</p></div>
				<p><%=  @project.answer2 %></p>
				<div><p>Question: If you could do it over again, what would you change?</p> </div>
				<p><%=  @project.answer3 %></p>
				<div><p>Question: What advice do you have for people about to begin their final projects? </p></div>
				<p><%=  @project.answer4 %></p>
			</div>
	</div>
</div>
<% end %>

